/* To do: MIXIN! CLASS! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content: none;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body {
    line-height: 18px;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 12px; color: #8c8b8b;
    text-shadow: 1px 1px 1px #ffffff;
    background: #131a26 repeat-x;
}

a {
    text-decoration: none;
    color: #00b7f3;
}

a:hover {
    text-decoration: underline;
}
.clear {
    clear: both;
}

.ui-tabs-hide {
    display: none;
}

br.clear {
    margin: 0;
    padding: 0;
}

.heading {
    padding-bottom: 5px;
    color: #808080;
    letter-spacing: -1px;
    line-height: 1em;
    font-weight: normal;
    font-family: 'Goudy Bookletter 1911', arial, serif;
}

.heading a {
    color: #808080;
}

p {
    padding-bottom: 10px; /*line-height: 24px;*/
}
strong {
    font-weight: bold;
    color: #1c1c1c;
}
cite, em, i {
    font-style: italic;
}
pre, code {
    font-family: Courier New, monospace;
    margin-bottom: 10px;
}
ins {
    text-decoration: none;
}
sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 0.8em;
}

sub {
    top: 0.3em;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bold;
}

dd  {
    margin-left: 1.5em;
}

blockquote  {
    margin: 1.5em;
    padding: 1em;
    color: #666666;
    background: #e6e6e6;
    font-style: italic;
    border: 1px solid #dcdcdc;
}

blockquote p {
    padding-bottom: 0;
}

input[type=text],input.text, input.title, textarea, select {
    background-color:#fff;
    border:1px solid #bbb;
    padding: 2px;
    color: #4e4e4e;
}

input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color:#2D3940;
    color: #3e3e3e;
}

input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea {
    padding: 4px;
}

img#about-image {
    float: left;
    margin: 3px 8px 8px 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0; content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             {
    zoom: 1;
} /* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
} /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

.home{
    background: url("images/home-house.png") repeat-x bottom center;
}

.black {
    background: url(images/black-house.png) repeat-x bottom center;
}

.green{
    background: url("images/green-house.png") repeat-x bottom center;
}

.purple{
    background: url("images/purple-house.png") repeat-x bottom center;
}

.ng-scope{
    width: 100%;
}

#top {
    background: url(images/top-bg.png) repeat-x;
}

#top-center {
    background: url(images/top-center-bg.jpg) center;
    width: 100%;

}

#header {
    background: url("images/footer-home.png") repeat-x;
}

.headeer{
    margin-top: 35px;
    padding-left: 13%;
    padding-right: 13%;
}

#logo {
    float: left;
    margin-right: 8px;
}

p#slogan {
    float: left;
    color: #77808d;
    font-style: italic;
    font-family: Georgia, serif;
    font-size:10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    padding-top: 23px;
}

#menu-content {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 50%, rgba(219,219,219,1) 51%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 51%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 51%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    border: 1px solid black;
    border-radius: 12px;
    height: 48px;
    }

#top-buttons {
    position:absolute;
    top: 35%;
    margin: auto;
    width: 70%;
    left: 30%;
    z-index: 8;
}

#top-buttons a {
    text-decoration: none;
}

#top-buttons a.button {
    color:#ffffff;
    font-family: 'Goudy Bookletter 1911', arial, serif;
    display:block;
    font-size:2.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height:56px;
    line-height:53px;
    padding-right:8px;
    float: left;
    margin-right: 9px;
}

#top-buttons a.button span {
    background: rgb(115,177,185); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(115,177,185,1) 0%, rgba(81,135,141,1) 51%, rgba(89,146,153,1) 54%, rgba(89,146,153,1) 54%, rgba(74,122,127,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(115,177,185,1) 0%,rgba(81,135,141,1) 51%,rgba(89,146,153,1) 54%,rgba(89,146,153,1) 54%,rgba(74,122,127,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(115,177,185,1) 0%,rgba(81,135,141,1) 51%,rgba(89,146,153,1) 54%,rgba(89,146,153,1) 54%,rgba(74,122,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b1b9', endColorstr='#4a7a7f',GradientType=0 ); /* IE6-9 */
    border: 1px solid #2C6B72;
    border-radius: 7px;
    display:block;
    height:56px;
    padding-left: 20px;
    padding-right:20px;
    box-shadow: 0 3px 1px #888888;
}

#main-area {
    background: url(images/main-area-bg.png) top right;
    border-top: 1px solid #fff;
    width: 100%;
}

#main-top-shadow {
    background: url(images/main-top-shadow.png) repeat-x top right;
    width: 100%;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0!important;
    position: relative;
}

.container-inner {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

#hooome{
    width: 100%;
    height: 500px;
}

.home #main-top-shadow .container {
    padding: 85px 0 0;
}

.service {
    float: left;
    width: 27%;
    margin-right: 7%;
    margin-bottom: 5%;
    padding-top: 10%
}

#main-area .last {
    margin-right: 0;
}

.service .title  {
    font-size: 24px;
    color: #758b8d;
    text-shadow: 1px 1px 1px #ffffff;
    padding-bottom: 15px;
}

.thumb {
    display:block;
    float:left;
    position:relative;
    margin-right: 18px;
    margin-bottom:10px;
}

.item-image {
    margin-top:6px;
    margin-left:6px;
}

.thumb span.overlay {
    background:url(images/box-overlay.png) no-repeat;
    display:block;
    height:68px;
    left:0;
    position:absolute;
    top:0;
    width:68px;
}

#recent-projects {
    background: url(images/left-projects-bg.png) no-repeat top left;
    padding-left: 24px;
    height: 115px;
    padding-bottom: 60px;
}

#recent-projects-right {
    background: url(images/right-projects-bg.png) no-repeat top right;
    padding-right: 24px;
    height: 115px;
}

#recent-projects-content {
    background: url(images/content-projects-bg.png) repeat-x;
    height: 115px;
}
.project {
    float:left;
    position:relative;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1.5%;
    width: 15%;
    height: 66%;
}

.project-image {
    margin-top:6px;
    margin-left:6px;
}

span.project-overlay {
    background:url(images/project-overlay.png) no-repeat;
    display:block;
    height:84px;
    left:0;
    position:absolute;
    top:0;
    width:152px;
}

span.zoom-icon {
    display: block;
    background: url(images/zoom-icon.png) no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 27px;
    left: 61px;
}

a.et-video span.zoom-icon {
    background: url(images/play-icon.png) no-repeat;
}

#call-to-action-top {
    background:url(images/call-to-action-top.png) repeat-x;
    height: 1px;
    margin-bottom:68px;
}

#call-to-action {
    background-color: #ffffff;
}

#call-to-action p {
    font-family: 'Goudy Bookletter 1911', arial, serif;
    font-size: 2em;
    color: #979797;
    text-align: center;
    padding-bottom: 26px;
    padding-top: 25px;
    width: 80%;
}

#call-to-action a {
    margin-bottom: 26px;
    margin-top: 25px;
}

#breadcrumbs {
    font-size:12px;
    padding-top:27px;
    color:#758b8d;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #ffffff;
}

#breadcrumbs a {
    color: #b0afaf;
}

#breadcrumbs a:hover {
    color:#111;
    text-decoration: none;
}

#breadcrumbs .raquo {
    color:#b0afaf;
}

span#down-arrow {
    background:url(images/down-arrow.png) no-repeat;
    display: block;
    height: 16px;
    width: 33px;
    position: relative;
    top: -1px;
    left: 49%;
}

#top .nobg {
    background: none;
}

#category-name {
    padding-bottom: 30px;
    padding-top: 60px;
}

.category-title {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    padding-bottom: 10px;
}

p.description {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 18px;
    color: #778292;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

p.description a {
    color: #778292;
    text-decoration: none;
}

p.description a:hover {
    color: #fff;
    text-decoration: none;
}

#content-area {
    background:url(images/content-area.png) repeat-y 70% 0;
    padding: 0 0 40px 0;
}

#left-area {
    width: 70%;
    float:left;
}

#sidebar {
    width: 29%;
    float:left;
}
.post {
    padding:0 40px 50px 0;
}

.post p {
    line-height:21px;
}

.post-thumbnail {
    display:block;
    float:left;
    position:relative;
    margin-right: 34px;
    width: 212px;
    height: 212px;
}

.post-thumb {
    margin-top:6px;
    margin-left:6px;
}

span.post-overlay {
    background:url(images/post-overlay.png) no-repeat;
    display:block;
    height:212px;
    left:0;
    position:absolute; top:0;
    width:212px;
}

.title {
    font-size: 30px;
    text-shadow: 1px 1px 1px #ffffff;
    padding-bottom: 10px;
}

.title a {
    color: #758b8d;
    text-decoration: none;
}

.post p.meta-info {
    padding-bottom:14px;
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 12px;
    color: #a2a2a2;
    text-shadow: 1px 1px 1px #ffffff;
}

.post p.meta-info a {
    color: #797979;
    text-decoration: none;
}

.post p.meta-info a:hover {
    color: #000;
}

a.readmore {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 50%, #f3f3f3 51%, #efefef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 50%,#f3f3f3 51%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 50%,#f3f3f3 51%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */    color:#7e9294 !important;
    display:block;
    font-size:11px;
    height:24px;
    line-height:25px;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #EBEAEA;
    border-bottom: 1px solid #CFCECE;
    border-radius: 10px;
    text-shadow:1px 1px 1px #ffffff;
    float:right;
    font-family: 'Droid Sans', Arial, sans-serif;
}

a.readmore:hover {
    color: #111 !important;
}

#content-top {
    background: url(images/content-area-top.png) no-repeat 70% 0;
    padding-top: 20px;
}

.fullwidth #content-area, .fullwidth #content-top {
    background: none;
}

.fullwidth #left-area {
    width: 960px;
}

.fullwidth #comment-wrap {
    background: none;
    padding-top: 5px;
}

.post ul, .comment-content ul {
    list-style-type: disc;
    padding: 10px 0 10px 20px;
}

.post ol, .comment-content ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 10px 0 10px 2px;
}
.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol {
    padding: 2px 0 2px 20px;
}

.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol  {
    padding: 2px 0 2px 35px;
}

/*------------------------------------------------*/
/*--------------------[MENU]----------------------*/
/*------------------------------------------------*/

.logoo{
    width: 30%;
}

.menuu{
    width: 70%;
    float: right;
}

ul#top-menu li {
    margin-right: 12px;
    margin-left: 12px;
    padding-top: 15px;
    float: left;
}
ul#top-menu a {
    font-size:12px;
    font-weight: 500;
    color: #292929;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
}

ul#top-menu a:hover {
    color: #000;
}

ul#top-menu > li.current_page_item > a {
    color: #9e9d9d !important;
    font-style: italic;
    font-family: Georgia, serif;
}

ul#top-menu ul {
    background: url(images/dropdown.png) no-repeat bottom left;
    width: 198px;
    top: 42px !important;
    border-top: 2px solid #CDCDCD;
    display: none;
    padding: 3px 0 14px 0;
    z-index: 9999;
}

ul#top-menu ul li {
    margin: 9px 0;
    padding: 0 10px 0 18px;
}

ul#top-menu ul li a {
    background: url(images/menu-bullet.png) no-repeat 0 7px;
    padding-left: 9px;
    width: 160px;
}

ul#top-menu ul ul {
    border-top: none;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;
}
ul#top-menu li:hover ul ul, ul#top-menu li.sfHover ul ul {

    top: -10px !important;
    left: 193px !important;
}

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

#featured {
    padding: 0 80px;
    margin-top: 72px;
    position: relative;
}

.slide {
    position: relative;
}

.slide .description {
    float: right;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width: 434px;
    font-size: 21px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #778292;
    padding-top: 54px;
}

.slide .title {
    font-size: 48px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-style: normal;
    padding-bottom: 8px;
}

.slide .title a {
    color: #fff;
}

.featured-img {
    float: left;
    margin-right: 50px;
    position: relative;
}

.featured-img span.overlay {
    background: url(images/featured-image-overlay.png) no-repeat;
    display: block;
    width: 318px;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-img img {
    margin: 5px 0 0 5px;
}

#featured .description-left .featured-img {
    float: right;
    margin: 0 0 0 50px;
}

#featured .description-left .description {
    float: left;
}

#featured .description-center .description {
    float: none;
    text-align: center;
    width: 100%;
}

#featured_content, #featured_content .slide {
/*    width: 800px;*/
}

#featured .video-slide {
    background: url(images/featured-image-overlay.png) no-repeat;
    padding: 6px 5px 16px;
}

.pngimage .description {
    width: 410px !important;
}

.f-arrow {
    position: absolute;
    top: 84px;
    display: block;
    background: url(images/featured-leftarrow.png) no-repeat;
    width: 22px;
    height: 34px;
    text-indent: -9999px;
}

    #left-arrow {
    left: 0;
}
    #right-arrow {
    right: 0; background: url(images/featured-rightarrow.png) no-repeat;
}


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

.widget {
    width: 280px;
    position: relative;
    padding: 0 0 30px 35px;
}

.widget .widgettitle {
    font-size: 24px;
    color: #758b8d;
    text-shadow: 1px 1px 1px #ffffff;
    padding: 0 25px 15px 0;
}

.widget ul li {
    background:url(images/sidebar-bullet.png) no-repeat 0 7px;
    padding:0 0 10px 11px;
    display: block;
}

.widget ul li a {
    color:#8c8a8a;
    text-shadow:1px 1px 1px #ffffff;
    text-decoration: none;
}

.widget ul li a:hover {
    color:#696969;
}

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap {
    background: url(images/comment-separator.png) no-repeat 100% 0;
    margin-top: -18px;
    padding: 42px 38px 0 0;
}

#comments, #reply-title span {
    font-size: 36px;
    color: #758B8D;
    padding-bottom: 35px;
}

.comment-body {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ebeaea;
    border-bottom: 1px solid #d2d1d1;
    margin-bottom: 25px;
    padding: 20px 18px 16px 102px;
    position: relative;
}

.avatar-box {
    position: absolute;
    top: 17px;
    left: 19px;
    padding: 6px 0 0 6px;
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
    background: url(images/avatar-overlay.png) no-repeat;
}

.commentmetadata {
    color: #e7e7e7;
    font-size: 24px;
    font-family: 'Goudy Bookletter 1911', arial, serif;
    margin-bottom: 12px;
}

.comment-date {
    font-size: 18px;
    color: #b6b5b5;
}

span.fn, span.fn a {
    color: #565656;
    text-decoration: none;
}

span.fn a:hover {
    color: #111;
    text-decoration: none;
}

.comment-arrow {
    position: absolute;
    bottom: -14px;
    right: 86px;
    background: url(images/comment-bubble.png) no-repeat;
    width: 14px; height: 14px;
}

.reply-container {
    background:url(images/readmore.png) no-repeat right bottom;
    display:block;
    font-size:11px;
    height:24px;
    line-height:25px;
    padding-right:10px;
    text-shadow:1px 1px 1px #ffffff;
    float:right;
}

.reply-container a {
    background:url(images/readmore.png) no-repeat;
    display:block;
    height:24px;
    padding-left: 10px;
    color:#7e9294;
}

.reply-container a:hover {
    color: #111;
    text-decoration: none;
}

.comment ul.children {
    padding-left: 100px;
}

#commentform textarea#comment {
    width: 96%;
}

#commentform input[type=text] {
    width: 38%;
}

li.comment #respond textarea {
    width: 94% !important;
}

li.comment #respond input[type=text] {
    width: 48% !important;
}

/*CLASS*/
#respond #comments {
    padding-bottom: 15px;
}

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

.home-bottom {
    background: url("images/footer-home.png") repeat-x;
}

.black-bottom {
    background: url(images/footer-black.png) repeat-x;
}

.green-bottom{
    background: url("images/footer-green.png") repeat-x;
}

.purple-bottom{
    background: url("images/footer-purple.png") repeat-x;
}

#footer-widgets {
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    color: #aebdd1;
}

.last {
    margin-right: 0;
}

.widgettitle {
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 24px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

#footer-logo {
    margin-top: -14px;
}

#footer-logo span {
    padding-left: 15px;
    color: #ffffff;
    font-style: italic;
    font-family: Georgia, serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    font-size: 11px;
}

.footer-widget .thumb {
    display:block;
    float:left;
    position:relative;
    margin-top: 6px;
    margin-right: 18px;
    margin-bottom:11px;
}

.footer-widget p {
    line-height: 21px;
}

.footer-widget a {
    color: #aebdd1;
}

.footer-widget a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer-widget ul {
    margin-bottom:8px;
}

.footer-widget ul ul {
    margin-bottom:0;
}

.footer-widget ul li {
    background:url(images/footer-bullet.png) no-repeat 0 7px;
    padding:0 0 10px 13px;
}

.footer-widget ul li ul {
    margin:0 0 -3px;
    padding:5px 0 0 7px;
}

#footer-bottom {
    clear: both;
    padding-bottom: 16px;
    padding-top: 26px;
    border-top: 1px solid #2c333e;
}

.black-footer{
    background-color: black;
}

.home-footer{
    background-color: #111721;
}

.green-footer{
    background-color: #131D19;
}

.purple-footer{
    background-color: #1D151F;
}

ul.bottom-nav li {
    float: left;
    font-size: 12px;
    padding-right: 19px;
}

ul.bottom-nav li a {
    color:#aebdd1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

ul.bottom-nav > li.current_page_item > a {
    color: #ffffff;
    font-style: italic;
    font-family: Georgia, serif;
}

ul.bottom-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

p#copyright {
    float:right;
    font-size:12px;
    color:#aebdd1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

p#copyright a {
    font-style: italic;
    color:#ffffff;
    font-family: Georgia, serif;
}

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination {
    overflow: hidden;
}

.pagination, .wp-pagenavi {
    padding: 15px 42px 0;
}

.wp-pagenavi {
    position: relative;
    text-align: right;
    font-family: 'Goudy Bookletter 1911', Arial, sans-serif;
}

.wp-pagenavi span.pages, .wp-pagenavi span.extend {
    border: none;
    color: #8c8a8a !important;
    font-size: 18px;
}

.wp-pagenavi span.current, .wp-pagenavi a {
    color: #c3c3c3;
    font-size: 30px;
    border: none !important;
}

.wp-pagenavi span.current, .wp-pagenavi a:hover {
    color: #c2c2c2 !important;
}

.wp-pagenavi a, .wp-pagenavi span {
    padding: 3px 7px !important;
    color: #758b8d !important;
}


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem a  {
    text-decoration: none;
}
.foursixeight {
    margin: 0 0 15px 84px;
}

.nav ul li, .nav ul a {
    float: left;
}

.et_pt_gallery_entry {
    margin-left: 25px !important;
}

#comment-wrap .navigation {
    padding: 10px 0;
}
.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}

h3#reply-title small {
    display: block;
}

h3#reply-title small a {
    font-size: 12px;
    letter-spacing: 0;
}

#commentform input[type=text] {
    width: 40%;
    display: block;
    padding: 5px;
}

#commentform textarea#comment {
    width: 91%;
}

.commentlist #respond textarea#comment {
    width: 98% !important;
}

.commentlist #respond input[type=text] {
    width: 40%;
    display: block;
    padding: 5px;
}
.comment_navigation_top {
    padding-bottom: 12px;
}

.et_embedded_videos {
    display: none !important;
}

.js #featured_content {
    background: url(images/ajax-loader.gif) no-repeat center;
    min-height: 203px;
}

.js #featured .slide {
    display: none;
}

@media only screen and (max-width: 960px){
    /*TO DO*/
}


@media only screen and (min-width: 780px) and (max-width: 960px){
    .menuu{
        width: 100%;
    }

}

@media only screen and (min-width: 525px) and (max-width: 779px){
    .logoo{
        width: 110%;
    }

    .menuu{
        width: 100%;
    }

    .container {
        width: 100%;
    }

    #top-buttons{
        width: 130%;
        width: 70%;
        left: 25%;
        z-index: 8;
    }

    #top-buttons span{
        font-size: 20px;
    }

    .project {
        float: left;
        position: relative;
        margin-right: 2.3%;
        margin-left: 2%;
        margin-top: 2.8%;
        width: 29%;
    }

    .project:first-of-type {
        display: none;
    }

    .project:last-of-type {
        display: none;
    }

    #call-to-action p {
        font-size: 2.2em;
        padding-bottom: 17px;
        padding-top: 17px;
    }

    .container-inner{
        width: 100%;
    }

    #left-area{
        width: 100%;
    }

    #sidebar{
        width: 100%;
    }

    #content-top {
        background: none;
        padding-top: 0;
    }

    #content-area {
        background: none;
        padding: 0;
    }
}

@media only screen and (min-width: 390px) and (max-width: 524px){

    .footer-widget{
        width: 100%;
    }

    .logoo{
        width: 110%;
        padding: 0;
    }

    .menuu{
        display: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding:0;
        margin:0;
    }

    .heading a {
        font-size: 25px;
        line-height: 0;
    }
    #top-bottom{
        height: 400px;
    }

    .description p {
        font-size: 15px;
        width: 100%;
    }

    #featured {
        padding: 0;
        margin-top: 0;
        position: relative;
    }

    #top-buttons{
        width: 130%;
        left: 10%;
        bottom: 22%;
    }

    #top-buttons span{
        font-size: 18px;
    }

    .service{
        width: 100%;
        margin-bottom: 10px;
    }

    #call-to-action p {
        font-size: 1.6em;
        padding-bottom: 17px;
        padding-top: 17px;
    }

    #recent-projects{
        display: none;
    }
    #left-area{
        width: 100%;
    }

    #sidebar{
        width: 100%;
    }

    #content-top {
        background: none;
        padding-top: 0;
    }

    #content-area {
        background: none;
        padding: 0;
    }
}

@media only screen and (max-width: 389px){
    .logoo{
        width: 110%;
        padding: 0;
    }

    .menuu{
        display: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    #top-bottom{
        height: 400px;
    }
    .heading a {
        font-size: 25px;
        line-height: 0;
    }

    #top-buttons span{
        font-size: 16px;
    }

    .service{
        width: 100%;
        margin-bottom: 10px;
    }

    .description p {
        font-size: 15px;
        width: 100%;
    }

    #featured {
         padding: 0;
         margin-top: 0;
         position: relative;
    }

    .slide .title {
        font-size: 30px;
    }

    #top-buttons{
        width: 130%;
        left: 3%;
        bottom: 22%;
    }

    #call-to-action p {
        font-size: 1.6em;
        padding-bottom: 6px;
        padding-top: 10px;
    }

    #recent-projects{
        display: none;
    }
    #left-area{
        width: 100%;
    }

    #sidebar{
        width: 100%;
    }

    #content-top {
         background: none;
         padding-top: 0;
    }

    #content-area {
         background: none;
         padding: 0;
    }

    .footer-widget{
        width: 100%;
    }
}