<div id='hooome' class="container home hooome">
    <div id="featured" class="featured">

        <div id="featured_content">
            <div class="slide clearfix description-center">


                <div class="description">
                    <h2 class="heading title"><a href="#/">Finding A New Home Has Never Been Easier</a></h2>

                    <p>“Join today and gift yourself with a beautiful new place to live”</p>
                </div> <!-- end .description -->
            </div> <!-- end .slide -->
            <div class="slide clearfix pngimage">
            </div> <!-- end .slide -->
        </div> <!-- end #featured_content -->

        <a id="left-arrow" class='f-arrow left-arrow' href="#">Previous</a>
        <a id="right-arrow" class='f-arrow right-arrow' href="#">Next</a>

    </div>	<!-- end #featured -->
</div> <!-- end #header --></div>

<div id="top-buttons" class="top-buttons clearfix">
    <a href="#/" class="button">
        <span>View The Demo</span>
    </a>
    <a href="#/register" class="button">
        <span>Sign Up Today!</span>
    </a>
</div>
<div id="main-area" class="main-area">
        <div id="main-top-shadow" class="main-top-shadow">
            <div class="container">
                <div id="blurbs" class="clearfix">
                    <div class="service">
                        <h3 class="heading title">What We Offer</h3>
                        <div class="thumb">
                            <a href="#/">
                                <img src="http://prikachi.com/images/16/8613016o.jpg" class='item-image'  alt='The Best Design' width='56' height='56' />												<span class="overlay"></span>
                            </a>
                        </div> 	<!-- end .thumb -->
                        <p>We offer our clients the best Real Estate offers in Bulgaria. On our website you can find beautiful houses, apartments and everything you need if you are looking for a new place to live. Our Website gathers offers from all over Bulgaria but we plan an expansion. We're taking over the World!</p>
                        <a href="#/" class="readmore"><span>Read More</span></a>
                    </div> <!-- end .service -->
                    <div class="service">
                        <h3 class="heading title">Who We Are</h3>
                        <div class="thumb">
                            <a href="#/">
                                <img src="http://prikachi.com/images/15/8613015a.jpg" class='item-image'  alt='Advanced Features' width='56' height='56' />												<span class="overlay"></span>
                            </a>
                        </div> 	<!-- end .thumb -->
                        <p>Webly Real Estate Agency was founded in the beginning of 2016 as a project for a Final Exam in the Telerik Software Academy in Sofia. Our team is really small and consist of only one member but he is really enthusiastic about his work. His name is Kamen and his goal is to present you with many good offers for a new home.</p>
                        <a href="#/" class="readmore">Read More</a>
                    </div> <!-- end .service -->
                    <div class="service last">
                        <h3 class="heading title">Our Missions</h3>
                        <div class="thumb">
                            <a href="#/">
                                <img src="http://prikachi.com/images/17/8613017a.jpg" class='item-image'  alt='Web Design Services' width='56' height='56' />
                                <span class="overlay"></span>
                            </a>
                        </div> 	<!-- end .thumb -->
                        <p>Our Mission is to provide the best quality of service to our clients. We do not offer just places to live... we strive to find our clients The Place they can call their home for years to come. We are also trying to make new friends along the way and make people happy with our work.</p>
                        <a href="#" class="readmore">Read More</a>
                    </div> <!-- end .service -->
                </div> <!-- #blurbs -->

                <div id="recent-projects" class="recent-projects">
                    <div id="recent-projects-right" class="recent-projects-right">
                        <div id="recent-projects-content" class="clearfix recent-projects-content">
                            <div class="project">
                                <a href="https://www.youtube.com/watch?v=rTaeUOnMRvQ" class="et-video et_video_lightbox">
                                    <img src="http://www.luxuryestate.com/blog/wp-content/uploads/2014/03/High-end-real-estate-market-Berlin-726x408.jpg" class='project-image'  alt='Praesent dui lectus dignissim id dignissim' width='140' height='72' />												<span class="zoom-icon"></span>
                                    <span class="project-overlay"></span>
                                </a>
                            </div> 	<!-- end .project -->
                            <div class="project">
                                <a href="#/" class="fancybox" rel="media">
                                    <img src="http://www.luxuryestate.com/blog/wp-content/uploads/2014/03/Luxury-Real-Estate-Amsterdam.jpg" class='project-image'  alt='Fusce at nunc ac nunc malesuada' width='140' height='72' />												<span class="zoom-icon"></span>
                                    <span class="project-overlay"></span>
                                </a>
                            </div> 	<!-- end .project -->
                            <div class="project">
                                <a href="#/" class="fancybox" rel="media">
                                    <img src="http://www.luxuryestate.com/blog/wp-content/uploads/2014/03/Luxury-real-estate-market-Germany.jpg" class='project-image'  alt='Class aptent taciti sociosqu ad litora' width='140' height='72' />												<span class="zoom-icon"></span>
                                    <span class="project-overlay"></span>
                                </a>
                            </div> 	<!-- end .project -->
                            <div class="project">
                                <a href="https://www.youtube.com/watch?v=WUmhTE6IqZ4" class="et-video et_video_lightbox">
                                    <img src="http://www.luxuryestate.com/blog/wp-content/uploads/2014/03/Luxury-Real-Estate-Market-Switzerland.jpg" class='project-image'  alt='Donec rhoncus lacinia pulvinar' width='140' height='72' />												<span class="zoom-icon"></span>
                                    <span class="project-overlay"></span>
                                </a>
                            </div> 	<!-- end .project -->
                            <div class="project">
                                <a href="#/" class="fancybox" rel="media">
                                    <img src="http://www.luxuryestate.com/blog/wp-content/uploads/2014/03/Luxury-Real-estate-market-Stockholm.jpg" class='project-image'  alt='Quisque elementum libero sit amet lacus' width='140' height='72' />												<span class="zoom-icon"></span>
                                    <span class="project-overlay"></span>
                                </a>
                            </div> 	<!-- end .project -->

                        </div> <!-- end #recent-projects-content -->
                    </div> <!-- end #recent-projects-right -->
                </div> <!-- end #recent-projects -->
            </div> <!-- end .container -->
        </div> <!-- end #main-top-shadow -->
    </div> <!-- end #main-area -->

    <div id="call-to-action-top" class="call-to-action-top">
        <div id="call-to-action" class="call-to-action">
            <div class="container clearfix">
                <a href="#" class="readmore"><span>Read More</span></a>
                <p>We offer the highest quality and most advanced web design services anywhere
                </p>
                <span id="down-arrow" class="down-arrow"></span>
            </div> <!-- end .container -->
        </div> <!-- end #call-to-action -->
    </div> <!-- end #call-to-action-top -->

</div>