<div id="category-name">
    <h1 class="heading category-title">Browse All Offers</h1>

    <p class="description">
        Here you can see all offers from our company.
    </p>
</div>
<div id="main-area">
    <div id="main-top-shadow">
        <div class="container">
    <ul>
        <li ng-repeat="offer in vm.offers">
            <form><label>Offer</label>
            <h4>{{offer.objectId}} - {{offer.title}}</h4>
            <img src='{{offer.image}}' width="350px"/><br/>
            <textarea>{{offer.description}}</textarea>
            </form>
        </li>
    </ul>
        </div>
    </div>
</div>