<div id="category-name" class="category-name">
    <h1 class="heading category-title">Browse All Offers</h1>

    <p class="description">
        Here you can see all offers from our company.
    </p>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
    <ul class="offer">
        <li ng-repeat="offer in vm.offers">
            <form><label>Offer</label>
                <h2 class="heading title">{{offer.title}}</h2>
                Posted by: <span>{{offer.postedBy.username}}</span> Posted on: <span>{{offer.createdAt}}</span>
                <div class="row">
            <img src='{{offer.image}}' width="250px" class="col-md-3"/>
            <p class="col-md-7">{{offer.description}}</p>
                </div>
            </form>
        </li>
    </ul>
        </div>
                </div> 	<!-- end #left-area -->
                </div> <!-- end #content-top -->
            </div> <!-- end #content-area -->
    </div>
</div>