<div id="category-name" class="category-name">
    <h1 class="heading category-title">Browse All Offers</h1>

    <p class="description">
        Here you can see all offers from our company.
    </p>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
                        <ul class="offer">
                            <li ng-repeat="offer in vm.offers">
                                <form><label>Offer</label>
                                    <h2 class="heading title"><a href="#/offers/{{offer.objectId}}">{{offer.title}}</a>
                                    </h2>
                                    Posted by: <span>{{offer.postedBy.username}}</span> Posted on: <span>{{offer.createdAt}}</span>
                                    <div class="row">
                                        <img src='{{offer.image}}' width="250px" class="col-md-3"/>
                                        <p class="col-md-7">{{offer.description}}</p>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div id="sidebar" class="sidebar">
                        <div id="recent-posts-4" class="widget widget_recent_entries">
                            <h4 class="heading widgettitle">Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Praesent dui lectus dignissim id dignissim</a>
                                </li>
                                <li>
                                    <a href="#">Fusce at nunc ac nunc malesuada</a>
                                </li>
                                <li>
                                    <a href="#">Class aptent taciti sociosqu ad litora</a>
                                </li>
                                <li>
                                    <a href="#">Donec rhoncus lacinia pulvinar</a>
                                </li>
                                <li>
                                    <a href="#">Quisque elementum libero sit amet lacus</a>
                                </li>
                            </ul>
                        </div> <!-- end .widget -->
                        <div id="archives-3" class="widget widget_archive">
                            <h4 class="heading widgettitle">Archives</h4>
                            <ul>
                                <li><a href='#'>August 2010</a></li>
                                <li><a href='#'>September 2008</a></li>
                                <li><a href='#'>August 2008</a></li>
                                <li><a href='#'>July 2008</a></li>
                                <li><a href='#'>January 2008</a></li>
                                <li><a href='#'>September 2006</a></li>
                            </ul>
                        </div> <!-- end .widget -->
                        <div id="recent-comments-3" class="widget widget_recent_comments">
                            <h4 class="heading widgettitle">Recent Comments</h4>
                            <ul id="recentcomments">
                                <li class="recentcomments"><span class="comment-author-link"><a href='#' rel='external nofollow' class='url'>Frankie</a></span> on <a href="#">At vero eos et accusamus et iusto</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='#' rel='external nofollow' class='url'>Soviet</a></span> on <a href="#">Urna eget erat non purus</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='#' rel='external nofollow' class='url'>Light</a></span> on <a href="#">Neque porro quisquam est qui</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='#' rel='external nofollow' class='url'>Сергей</a></span> on <a href="#">Aenean bibendum elementum pede</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='#' rel='external nofollow' class='url'>Monah</a></span> on <a href="#">Urna eget erat non purus</a></li>
                            </ul>
                        </div> <!-- end .widget -->
                       </div> <!-- end #sidebar -->
                </div><!-- end #left-area -->
                            </div> <!-- end #content-top -->
        </div> <!-- end #content-area -->
    </div>
</div>