<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="well">
            <form name="signUpForm" class="form-horizontal">
                <fieldset>
                    <legend>Login User</legend>
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>
                        <div class="col-md-10">
                            <input id="username" name="username" type="text" placeholder="Username" ng-model="user.username" required="required" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input id="password" name="uPass" type="password" placeholder="Password"
                                   ng-model="user.password" ng-minlength=6 ng-maxlength=40 required="required" class="form-control"/>
                            <div ng-show="signUpForm.$submitted || signUpForm.uPass.$touched">
                                <span ng-show="signUpForm.uPass.$error.required">Tell us your password.</span>
                                <span ng-show="signUpForm.uPass.$error.minlength">This is not a valid password.Min lenght 6 symbols.</span>
                                <span ng-show="signUpForm.uPass.$error.maxlength">This is not a valid password.Max lenght 40 symbols.</span>
                            </div>
                        </div>
                    </div>

                    <div class="pull-right">
                        <button ng-click="login(user)" ng-disabled="signUpForm.$invalid" class="btn btn-orange">
                            Login
                        </button>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>