<div class="container">
    <div class="well">
        <form name="signUpForm" class="form-horizontal">
            <fieldset>
                <legend>Create New User</legend>
                <div class="form-group">
                    <label for="new-user-email" class="col-md-2 control-label">E-mail</label>
                    <div class="col-md-10">
                        <input id="new-user-email" name="uEmail" type="email" placeholder="E-mail"  required="required" class="form-control"/>
                        <div ng-show="signUpForm.$submitted || signUpForm.uEmail.$touched">
                            <span ng-show="signUpForm.uEmail.$error.required">Tell us your Email.</span>
                            <span ng-show="signUpForm.uEmail.$error.email">This is not a valid Email.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        <input id="new-username" name="username" type="username" placeholder="Username"  required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-user-password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input id="new-user-password" name="uPass"type="password" placeholder="Password"
                               ng-model="user.password" ng-minlength=6 ng-maxlength=40 required="required" class="form-control"/>
                        <div ng-show="signUpForm.$submitted || signUpForm.uPass.$touched">
                            <span ng-show="signUpForm.uPass.$error.required">Tell us your password.</span>
                            <span ng-show="signUpForm.uPass.$error.minlength">This is not a valid password.Min lenght 6 symbols.</span>
                            <span ng-show="signUpForm.uPass.$error.maxlength">This is not a valid password.Max lenght 40 symbols.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmation" class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-10">
                        <input id="confirmation" name="uConfPass" type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" ng-pattern="user.password" required="required" class="form-control"/>
                        <div ng-show="signUpForm.$submitted || signUpForm.uConfPass.$touched">
                            <span ng-show="signUpForm.uConfPass.$error.required">Please confirm password.</span>
                            <span ng-show="signUpForm.uConfPass.$error.pattern">This is NOT MATCH.</span>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="signup(user)" ng-disabled="signUpForm.$invalid" class="btn btn-primary">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>