<div id="category-name" class="category-name">
    <h1 class="heading category-title">About Us</h1>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a href="#/">Home</a>
                            <span class="raquo">&raquo;</span>
                            <a href="#/about">About</a>
                        </div>
                        <div class="offer-wrap row">
                            <h2 class="heading title">Webly Real Estate</h2>
                            <img src="http://prikachi.com/images/15/8613015a.jpg" class="col-md-4">
                            <p class="col-md-6">Webly Real Estate Agency was founded in the beginning of 2016 as a project for a Final Exam in the Telerik Software Academy in Sofia.
                                Our team is really small and consist of only one member but he is really enthusiastic about his work.
                                His name is Kamen and his goal is to present you with many good offers for a new home.</p>
                        </div>
                    </div> <!-- end #content-top -->
                    <div sidebar/>
                </div> <!-- end #content-area -->
            </div>
        </div>
    </div>