<div id="category-name" class="category-name">
    <h1 class="heading category-title">Blogs About Sofia and Real Estates</h1>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a href="#/">Home</a>
                            <span class="raquo">&raquo;</span>
                            <a href="#/blog">Blog</a>
                        </div>
                        <div class="offer-wrap row">
                            <a href="http://eatstaylovebulgaria.com/en/"><h2 class="heading title">Best Places in Bulgaria</h2></a>
                            <a href="http://eatstaylovebulgaria.com/en/"><img src="http://prikachi.com/images/168/8629168g.jpg" class="col-xs-12"></a>
                        </div>
                        <div class="offer-wrap row">
                            <a href="http://www.spottedbylocals.com/sofia/best-sofia-blogs/"><h2 class="heading title">Sofia - Spotted by Locals</h2></a>
                            <a href="http://www.spottedbylocals.com/sofia/best-sofia-blogs/"><img src="http://prikachi.com/images/170/8629170C.jpg" class="col-xs-12"></a>
                        </div>
                        <div class="offer-wrap row">
                            <a href="https://blazingbulgaria.wordpress.com/sights/"><h2 class="heading title">Blazing Bulgaria Blog</h2></a>
                            <a href="https://blazingbulgaria.wordpress.com/sights/"><img src="http://prikachi.com/images/172/8629172Z.jpg" class="col-xs-12"></a>
                        </div>
                    </div> <!-- end #content-top -->
                    <div sidebar/>
                </div> <!-- end #content-area -->
            </div>
        </div>
    </div>