<div id="category-name" class="category-name">
    <h1 class="heading category-title">Contact Us</h1>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a href="#/">Home</a>
                            <span class="raquo">&raquo;</span>
                            <a href="#/contact">Contact</a>
                        </div>
                        <div class="offer-wrap row">
                            <h2 class="heading title">Contact Our Agents</h2>
                            <img src="http://prikachi.com/images/86/8629086y.jpg" class="col-xs-4">
                            <div class="col-xs-6">
                                <form><label>Contact Us:</label>
                                <input type="text" placeholder="Your Name" class="col-xs-12">
                                <textarea placeholder="Your Message" class="col-xs-12"></textarea>
                                <button type="submit" class="col-xs-12">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end #content-top -->
                    <div sidebar/>
                </div> <!-- end #content-area -->
            </div>
        </div>
    </div>