<div id="category-name" class="category-name">
    <h1 class="heading category-title">FAQ</h1>
</div>
<div id="main-area" class="main-area">
    <div id="main-top-shadow" class="main-top-shadow">
        <div class="container">
            <div id="content-area" class="content-area">
                <div id="content-top" class="clearfix content-top">
                    <div id="left-area" class="left-area">
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a href="#/">Home</a>
                            <span class="raquo">&raquo;</span>
                            <a href="#/faq">FAQ</a>
                        </div>
                        <div class="offer-wrap row">
                            <h2 class="heading title">Frequently Asked Questions</h2>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">How do I choose an agent?</strong>
                                <p class="col-xs-5">When selecting an agent, the best source may be your family and friends.
                                Many may have sold a property in the past and can refer you to an agent they found to be capable.
                                Selling a home is a complex transaction, so experience should be a consideration.
                                Also consider agents who work for larger companies, as they tend to offer more extensive training.
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">What are the costs involved?</strong>
                                <p class="col-xs-5">Fees vary depending on the type of property as well as what is negotiated in the sale.
                                    Your Realtor® can provide an estimated closing statement to give you an estimate of what is to be paid as part of the sale.
                                    <br />Some costs include:<br />
                                    Lender fees<br />
                                    Escrow fees<br />
                                    Home inspection<br />
                                    Appraisal
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">What are the steps involved in selling my home?</strong>
                                <p class="col-xs-5">Selling your home involves many steps, from consultation to pricing, marketing to escrow.
                                    View our Seller's Process for details.
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">How are buyers attracted to my property?</strong>
                                <p class="col-xs-5">You will work with your listing agent to develop a marketing plan and attract as many potential buyers as possible. Methods include:
                                    Yard Sign;
                                    Newspaper Advertising;
                                    Internet;
                                    Magazines;
                                    Open House;
                                    ... and much more
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">What factors can influence the price of my home?</strong>
                                <p class="col-xs-5">You want your home to sell for the highest price possible, but also in a timely fashion.
                                    Here are some factors that influence the price of your home:
                                    Current real estate market conditions
                                    The expertise and market knowledge of your real estate representative
                                    Hard facts such lot size, square footage and condition of your home
                                    Desirability factors, including location, special amenities and property attributes
                                    Selling and listing price of comparable homes in the area
                                    A sophisticated real estate marketing plan
                                    Your level of motivation
                                    Conditions that do not affect the price of your home
                                    The profit you wish to make from the sale
                                    The amount of money spent on improvements
                                    The original price you paid for your home
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">How do I negotiate?</strong>
                                <p class="col-xs-5">Pricing your property with a 'cushion' for negotiation can be costly if it pushes the price above the fair market value range.
                                    To begin the negotiating process, you need interested Buyers.
                                    If overpriced, the number of Buyers that see the property is reduced, so the likelihood of an acceptable offer is also reduced.
                                    The best approach is to price a home just within the market value range.
                                    This allows room for negotiations, without sacrificing exposure.
                                </p>
                            </div>
                            <div class="offer-wrap row">
                                <strong class="col-xs-5">What are the dangers if I overprice?</strong>
                                <p class="col-xs-5">When a property is overpriced, windows of opportunity are missed.
                                    Broker and buyer interest is at its highest when a property is initially placed on the market.
                                    But if the property is priced above realistic market value, the excitement and number of showings are greatly reduced.
                                    Later, it may be necessary to adjust the price below market value to compete with new, competitively priced listings.
                                </p>
                            </div>
                        </div>
                    </div> <!-- end #content-top -->
                    <div sidebar/>
                </div> <!-- end #content-area -->
            </div>
        </div>
    </div>